<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>

<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

    <form  action="/post" method="post">
        <table>
            <tr>
                <td>
                    제목
                </td>
                <td>
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td>
                    작성자
                </td>
                <td>
                    <input type="text" name="writer">
                </td>
            </tr>
            <tr>
                <td>
                   내용
                </td>
                <td>
                    <textarea name="content"></textarea><br>
                </td>
            </tr>
            <tr>
                <td>
                   필터
                </td>
                <td>
                    <input type="checkbox" name="filter" value="intern">인턴
                    <input type="checkbox" name="filter" value="codingtest">코딩테스트
                    <input type="checkbox" name="filter" value="public">공공기업
                    <input type="checkbox" name="filter" value="private">사기업
                </td>
            </tr>
        </table>
        <input type="submit" value="등록">
    </form>
</body>
</html>