<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>

<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div><br><br>
<div class="container">
    <form  action="/post" method="post">
        <div class="col">
            <div class="row">
                <div class="col-md-1">
                    제목
                </div>
                <div class="col-md-4">
                    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-1">
                   작성자
                </div>
                <div class="col-md-4">
                    <input type="text" name="writer" class="form-control" aria-describedby="emailHelp" placeholder="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-1">
                    내용
                </div>
                <div class="col-md-4">
                    <textarea class="form-control" name="content"  rows="3"></textarea>                </div>
            </div><br>
            <div class="row">
                <div class="col-md-1">
                    필터
                </div>
                <div class="col-md-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox1" value="intern">
                        <label class="form-check-label" for="inlineCheckbox1">인턴</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox2" value="condingtest">
                        <label class="form-check-label" for="inlineCheckbox2">코딩테스트</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox3" value="public">
                        <label class="form-check-label" for="inlineCheckbox3">공공기업</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox4" value="private">
                        <label class="form-check-label" for="inlineCheckbox3">사기업</label>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>